[submodule "private_odoo-purchased"]
	path = private_odoo-purchased
	url = git@gitlab.com:abakus-it/odoo-purchased.git
[submodule "private_account_export"]
	path = private_account_export
	url = git@gitlab.com:abakus-it/odoo-private/account_export.git
